/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Urbanist */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Baskerville */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/*  font-family: "Urbanist",
 sans-serif; */
/*  font-family: "Playfair Display",
 serif; */
/*  font-family: "Libre Baskerville",
 serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    width: 100%;
}

/* SECTION NAV */
.menu {
    background-color: rgba(128, 0, 32, 0.900);
    height: 100px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

.menu__list {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu__item .menu__arrow--first {
    --transform: rotate(0);
}

.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 2px;
}

.menu_nesting {
    background-color: #800020;
    width: max-content;
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
}

.menu__item--show:hover .menu_nesting {
    opacity: 1;
    visibility: visible;
}

.menu__inside {
    position: relative;
    z-index: 20;
}

.sub-menu {
    padding: 20px 50px;
    background-color: #63011a;
    z-index: 1000;
    position: absolute;
    left: 100%;
    top: 0;
    width: max-content;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 0 20px 30px 30px;
}

.menu__inside:hover .sub-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.sub-menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 7px 0;
}

.menu__arrow {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.menu__inside:hover .menu__arrow {
    transform: rotate(-90deg);
}

.menu__link {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.menu__link:hover {
    background-color: #940227;
}

.menu__link--inside {
    padding: 15px 20px;
}

.link__niveles,
.link__institucional {
    position: relative;
    transition: color 0.5s ease;
}

.link__niveles::after,
.link__institucional::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.5s ease;
}

.link__niveles:hover::after,
.link__institucional:hover::after {
    width: 100%;
}

.menu__hamburguer {
    height: 100%;
    cursor: pointer;
    align-items: center;
    padding: 0 15px;
    display: none;
}

.menu_img {
    display: block;
    width: 30px;
}

.icons-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.icons-nav ion-icon {
    cursor: pointer;
    font-size: 25px;
    color: #800020;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icons-nav ion-icon:hover {
    color: #940227;
    transform: scale(1.1);
}

.cellphone-emergency {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    letter-spacing: .5px;
    text-align: center;
}

.cellphone-emergency ion-icon {
    font-size: 25px;
    animation: vibrate .5s infinite ease-in-out;
}

@keyframes vibrate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(3deg);

    }

    50% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* SECTION HERO */

.hero__main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr)); */
}

.wave-dos {
    background: url(./img/wave-haikei.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    transform: rotate(0deg);
    /* z-index: -1; */
}

.hero__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px 10px;
    min-height: 65vh;
}

.hero__brand {
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.img-escudo {
    height: 80px;
    width: auto;
}

.hero__title {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(90deg, black, #444);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out;
}

.hero__text {
    font-size: 1.3rem;
    text-align: center;
    margin: 15px 0;
    font-weight: 500;
    font-family: "Georgia", serif;
    font-style: italic;
    animation: fadeIn 2s ease-in-out;
}

.hero__button {
    margin: 20px 0;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 10px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background: #b40530;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.hero__button:hover {
    filter: brightness(110%);
}

.hero__button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.hero__button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.hero__button:hover .shadow {
    transform: translateY(3px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.hero__button:active .shadow {
    transform: translateY(10px);
    transition: transform 34ms;
}

.hero__button:focus:not(:focus-visible) {
    outline: none;
}

/* Section Main */
.container__main {
    position: relative;
}

.wave {
    background: url(./img/wave-haikei.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    transform: rotate(180deg);
    z-index: -1;
}

.education__levels {
    min-height: 110vh;
    padding: 30px 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    flex-flow: column wrap;
    font-family: "Urbanist", sans-serif;
}

.education__levels h2 {
    text-align: center;
    font-size: 2.5rem;
}

.cards__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #b1b1b1;
    padding: 1.5rem;
    background: linear-gradient(135deg, #ffffff, #c5c5c5);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(43, 41, 41, 0.829);
    transition: transform 2s ease, box-shadow 10s ease-in-out;
}

.card__content:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 5px rgba(90, 90, 90, 0.815);
}

.card__content h3 {
    text-align: center;
    font-size: 1.5rem;
}

.card__content p {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
}

.separador {
    border: 1px solid black;
    width: 100px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 1.5s, filter 1.5s, transform 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.cards {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-50%);
    transition: opacity 1.5s, filter 1.5s, transform 1.2s;
}

.shows {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media (prefers-reduced-motion: reduce) {

    .hidden,
    .cards-hidden {
        transition: none;
    }
}

/* Section Presentacion */
.container__presentacion {
    min-height: 110vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.img__presentacion {
    width: 400px;
    height: auto;
}

.order__content {
    display: flex;
    flex-flow: column wrap;
    min-height: 600px;
    justify-content: space-between;
}

.content__presentacion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content__presentacion span {
    color: #800020;
}

.content__presentacion h3 {
    max-width: 500px;
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

.parrafos__historia {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 2rem;
}

.paragraph {
    font-size: 15.5px;
    line-height: 1.7;
    text-align: left;
}

/* Section destacable */
.title__destacable {
    font-size: 1.5rem;
    text-align: center;
    color: #800020;
}

.destacable__container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

.card__destacable {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800020;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    color: #fff;
}

.card__destacable:hover {
    transform: translateY(-3px);
    background-color: #ac002b;
}

/* Section Contacto */
.contact__section {
    width: 100%;
    min-height: 120vh;
    padding: 20px;
}

.order-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.contact__section h2 {
    font-size: 3rem;
    font-family: "Urbanist", sans-serif;
}

.title_emails {
    font-weight: bold;
    font-size: 20px;
    margin-block-end: 1rem;
}

.order-emails {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}

.order-emails>p:not(.title_emails, .address-school) {
    margin: 5px 0;
}

.order-emails p span {
    font-weight: bold;
}

.icon-email {
    display: flex;
    align-items: center;
}

.icon-email ion-icon {
    margin: 0 5px;
    font-size: 18px;
}

.address-school {
    margin: 35px 3px 0 0;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.address-school ion-icon {
    font-size: 22px;
    color: #ac002b;
}

.contact-grid {
    display: grid;
    grid-template-columns: 500px 550px;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.map {
    width: 100%;
    height: 400px;
    margin-top: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border: 1px solid #f1f1f1;
    padding: 20px;
    background-color: #dbdbdb;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.458);
}

.contact-form label {
    font-weight: bold;
}

.red-asterisco {
    color: rgb(221, 0, 0);
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    background-color: #f3f3f3;
    outline: none;
    opacity: .8;
}

.contact-form input:focus {
    background-color: #fafafa;
    opacity: 1;
}

.contact-form textarea:focus {
    background-color: #fafafa;
    opacity: 1;
}

.contact-form input::placeholder {
    color: black;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #800020;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ac002b;
}

/* Section footer */
.container__footer {
    width: 90%;
    padding: 50px;
    margin: 0 auto;
}

.section__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.social__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.social__icons ion-icon {
    cursor: pointer;
    font-size: 27px;
    color: #c0c0c0;
    background-color: #000000;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s ease, color 0.3s ease-in-out;
}

.social__icons ion-icon:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.list__links {
    display: flex;
    gap: 2rem;
}

.list__links a {
    position: relative;
    transition: color 0.5s ease;
    color: #800020;
}

.list__links a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #ca0000;
    transition: width 0.5s ease;
}

.list__links a:hover::after {
    width: 100%;
}

.divider {
    width: 100%;
    border: 1px solid rgba(224, 224, 224, 0.753);
    margin-block: 15px;
}

.end__footer-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    text-align: start;
    font-size: 0.9em;
    color: #555;
}

.by {
    font-size: .95rem;
    display: block;
    width: 25ch;
    border-right: 2px solid black;
    overflow: hidden;
    white-space: nowrap;
    animation: blink .5s infinite step-end alternate;
    font-weight: 500;
}

.by a {
    color: #d3224e;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}